/*font-family: 'Roboto Condensed', sans-serif;
*/
body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #949497;
	height: auto !important;
	background: #FFF;
}
/*.bg{background:url(../img/bg.jpg) top center; min-height:2963px;}*/
a {
	text-decoration: none !important;
	outline: none !important;
}
.clearer {
	clear: both;
}
#headertop {
	padding: 10px 0;
	background: #282828;
}
#headertop ul {
	padding: 0;
	margin: 0;
}
#headertop li {
	list-style: none;
	float: right;
	margin-left: 15px;
	font-weight: 400;
	font-size: 14px;
	color: #FFF;
}
#headertop li a {
	color: #FFF;
}
.faxicon, .mobnumbericon, .msgicon {
	display: inline-block;
	background: url(../img/topicons.png);
	background-repeat: no-repeat;
	margin-right: 8px;
	width: 19px;
	height: 16px;
}
.faxicon {
	background-position: right center
}
.mobnumbericon {
	background-position: center center
}
.msgicon {
	background-position: left 2px;
}
#header {
	padding-top: 20px;
	background: #FFF;
	margin: 0 !important; /*margin-bottom:-30px;*/
}
#header .container {
	position: relative;
}
#header .social {
}
/*#header ul.social{
	margin: 0;
	padding: 0;
	text-align:right;
	margin-top:13px;
}*/
#header ul.social {
	margin: 0;
	padding: 0;
	text-align: right;
	margin-top: 13px;
	display: inline-block;
	float: right;
}
.loginarea {
	text-align: right;
	display: inline-block;
	padding-top: 18px;
	font-size: 14px;
	font-weight: 700;
	color: #777777;
	float: right;
	margin-right: 10px;
}
.loginarea a {
	color: #777777;
	margin: 0 3px;
}
.loginarea a:hover, .loginarea a:focus {
	color: #cb0d05;
}
#foootermain ul.social {
	margin: 0;
	padding: 0;
	text-align: left;
	margin-top: 16px;
	margin-left: 60px;/*  float:right;*/
}
#header ul.social > li, #foootermain ul.social > li, #addressarea ul.social > li {
	padding: 0;
}
#header ul.social > li a, #addressarea ul.social > li a {
	padding: 0px 1px;
	display: inline-block;
	width: 32px;
	height: 32px;
}
#foootermain ul.social > li a {
	padding: 0px 1px;
	display: inline-block;
	width: 26px;
	height: 26px;
}
#header ul.social .fb, #addressarea ul.social .fb {
	background: url(../img/socialicons.png) left top no-repeat;
}
#header ul.social .fb:hover, #addressarea ul.social .fb:hover {
	background-position: bottom left;
}
#header ul.social .twt, #addressarea ul.social .twt {
	background: url(../img/socialicons.png) -41px top no-repeat;
}
#header ul.social .twt:hover, #addressarea ul.social .twt:hover {
	background-position: -41px bottom;
}
#header ul.social .gplus, #addressarea ul.social .gplus {
	background: url(../img/socialicons.png) right top no-repeat;
}
#header ul.social .gplus:hover, #addressarea ul.social .gplus:hover {
	background-position: right bottom;
}
#foootermain ul.social .fb {
	background: url(../img/footersocial.jpg) left top no-repeat;
}
#foootermain ul.social .fb:hover {
	background-position: left bottom;
}
#foootermain ul.social .twt {
	background: url(../img/footersocial.jpg) -33px top no-repeat;
}
#foootermain ul.social .twt:hover {
	background-position: -33px bottom;
}
#foootermain ul.social .gplus {
	background: url(../img/footersocial.jpg) right top no-repeat;
}
#foootermain ul.social .gplus:hover {
	background-position: right bottom;
}
.list-inline>li {
	padding: 0 1px !important;
}
.logo {
	display: inline-block;
	margin-bottom: 10px;
}
.navbar-collapse {
	padding: 0;
}
nav.navbar {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;
	background: #ee1c25;
	margin: 0;
	position: relative;
	z-index: 999;
}
.navbar {
	margin-top: 0;
	min-height: 0
}
ul.navbar-nav {
	margin-top: 0
}
.navbar-nav > li {
	margin: 0
}
.navbar-nav > li > a {
	font-weight: 400;
	font-size: 15px;
	color: #FFF;
	text-transform: uppercase;
	padding: 20px 18px !important;
	text-align: center;
}
.navbar-nav > li > a:hover {
	background: #2e3192;
}
.navbar-nav > li.activepage a{ background:#2e3192;}



.navbar-nav > li > a:focus {
	background: #2e3192;
}
/*.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background:#963 !important;
}*/
.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-radius: 0px;
	background: #0773bf;
	background-color: rgba(7, 115, 191, 0.82);
	border: none;
	box-shadow: none!important;
	padding: 0;
	left: 0;
	min-width: 185px;
}
#banner {
	text-transform: uppercase;
	color: #FFF; /*margin-top:-30px; */
	top: -30px;
	margin-bottom: -30px;
	position: relative;
}
#banner h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 53px;
}
#banner .carousel-caption {
	right: 15%;
	bottom: 60px;
	left: 15%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: none;
}
.text-at {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-weight: 700;
	font-size: 25px;
	display: block;
	background: url(../img/at-line.png) center 12px no-repeat;
}
#banner .carousel-caption p {
	font-size: 19px;
	font-weight: 400;
	line-height: 26px;
	padding: 0 20%;
	margin-top: 13px;
}
.bannermore {
	font-size: 19px;
	font-weight: 700;
	text-align: center;
	padding: 13px 55px;
	display: inline-block;
	background: #F00;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFF;
	margin-top: 13px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.bannermore:hover {
	color: #FFF;
	background: #ce060f;
}
.bannermore:focus {
	color: #FFF;
}
.bold {
	font-weight: 700;
}
#welcomearea {
	padding: 60px 0px;
	text-align: center;
}
#welcomearea h3, #innermain h3 {
	font-size: 33px;
	font-weight: 300;
	color: #000000;
	margin: 0 0 25px 0;
	text-transform: uppercase;
}
#welcomearea p, #innermain p {
	font-size: 16px;
	font-weight: 400;
	line-height: 29px;
	color: #313131;
	padding: 0 50px;
}
.readmore {
	width: 100%;
	background: url(../img/readmoreline.gif) center 11px no-repeat;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	margin-top: 20px;
}
.readmore a {
	display: inline-block;
	color: #000;
}
.readmore a:hover {
	color: #b60008;
}
#teammain {
	margin-top: 15px;
	padding-bottom: 90px;
}
#teams .textbox,.teacherpage li .textbox {
	width: 100%;
	padding: 25px 20px 35px 20px;
	background: #2b2c3b;
}
#teams .textbox h5,.teacherpage li .textbox h5 {
	margin: 0;
	font-size: 19px;
	color: #FFF;
	font-weight: 700;
	border-bottom: 1px solid #696974;
	padding-bottom: 11px;
	line-height: 21px;
	margin-bottom: 15px;
}
.positions {
	font-size: 14px;
	font-weight: 300;
	display: block;
}
#teams .textbox p,.teacherpage li .textbox p {
	font-size: 15px;
	font-weight: 400;
	color: #FFF;
	line-height: 23px;
	position: relative;
}
div#teams .owl-dot span {
	display: inline-block;
	width: 24px;
	background: url(../img/dot.gif) center top no-repeat;
	height: 14px;
	border-radius: 50%;
	margin: 0 10px;
}
div#teams .owl-dot.active span {
	background: url(../img/dot-actv.gif) center top no-repeat;
}
div#teams .owl-dot {
	display: inline-block;
}
div#teams .owl-controls {
	text-align: center;
	margin-top: 27px;
	z-index: 99;
	position: absolute;
	width: 100%;
	background: url(../img/dotline.gif) center 8px no-repeat;
}
div#teams .owl-dots {
	display: inline-block;
}
.plus {
	width: 20px;
	height: 20px;
	background: #FFF url(../img/plus.png) center center no-repeat;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}
.plus:hover {
	background-color: #ebebeb;
}
#homeservicearea {
	padding: 55px 0px 10px 0px;
	color: #FFF;
	background: #b60008;
}
#homeservicearea .media {
	padding-left: 20px;
	margin-bottom: 43px;
}
#homeservicearea .media-left {
	padding-right: 30px;
	width: 79px;
}
#homeservicearea .media-heading {
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 5px;
	line-height: 27px;
}
#homeservicearea .media-body p {
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
}
#homecontentarea {
	padding: 50px 50px 50px 50px;
	width: 100%;
}
.homecontentarea-heading {
	width: 100%;
	background: url(../img/hm-ct-line.gif) center 17px no-repeat;
	text-align: center;
	position: relative;
}
.homecontentarea-heading h3 {
	display: inline-block;
	margin: 0 auto;
	padding: 0 18px;
	background: #FFF;
	font-weight: 700;
	font-size: 26px;
	color: #000;
}
.homecontentarea-link {
	position: absolute;
	right: 0;
	z-index: 11;
	font-size: 15px;
	font-weight: 700;
	color: #b60008;
	background: #FFF;
	padding: 0 5px;
	top: 6px;
}
.homecontentarea-link:hover {
	color: #000;
}
#testimonials {
	padding-top: 45px;
	position: relative;
	margin-bottom: 50px;
}
#testimonials .item {
}
.testimonialsprofile {
	width: 240px;
	margin: 0 auto;
}
#testimonials .media-left {
	padding-right: 15px;
}
#testimonials .media-left, #testimonials .media-left img {
	border-radius: 50%;
}
#testimonials .media-heading,.testimonial-item .testimonialbottom h6{
	font-weight: 700;
	font-size: 16px;
	color: #b60008;
	margin: 2px;
}
#testimonials .media-body>p {
	font-weight: 400;
	font-size: 15px;
	color: #373535;
}
#testimonials .media-body {
	padding-top: 13px;
}
.testimonials-txt,.testimonial-item .testimonials-txt {
	background: url(../img/clmn.png) left top no-repeat;
	padding-top: 20px;
	padding-left: 80px;
	text-align: left;
	font-size: 15px;
	color: #373535;
	font-weight: 400;
	line-height: 25px;
	margin: 5px 20px;
}
#testimonials #nav-controls {
	position: absolute;
	right: 50%;
	bottom: -45px;
	z-index: 999;
}
#testimonials #nav-controls div {
	width: 9px;
	height: 17px;
	font-size: 0px;
	display: inline-block;
	cursor: pointer;
	margin: 0 6px;
}
#testimonials #nav-controls .owl-prev {
	background: url(../img/arrow1.jpg) left top no-repeat;
}
#testimonials #nav-controls .owl-prev:hover {
	background-position: left bottom;
}
#testimonials #nav-controls .owl-next {
	background: url(../img/arrow1.jpg) right top no-repeat;
}
#testimonials #nav-controls .owl-next:hover {
	background-position: right bottom;
}
.homeblogarea {
}
.homeblogarea .row {
	padding-top: 55px;
}
.homeblogarea .media-left, .homeblogarea .media-left img {
	border-radius: 50%;
}
.homeblogarea .media-left {
	width: 41%;
	padding-right: 11px;
}
.homeblogarea .media-heading, .homeblogarea .date {
	font-weight: 700;
	font-size: 17px;
}
.homeblogarea .media-heading {
	text-transform: uppercase;
	color: #191919;
	line-height: 24px;
	padding-right: 10px;
	margin-bottom: 14px;
}
.homeblogarea .date {
	color: #b60008;
	margin-top: 10px;
}
.homeblogarea .media-body p {
	font-size: 15px;
	font-weight: 400;
	color: #3d3d3d;
	line-height: 25px;
	padding-right: 10px;
}
.homeblogarea .media-body p a {
	font-weight: 700;
	color: #900;
	margin-left: 5px;
}
.homeblogarea .media-body p a:hover {
	color: #121464;
}
#foootermain {
	padding-top: 45px;
	padding-bottom: 20px;
	width: 100%;
	background: #2a2a2a;
}
.footerlogo {
	margin-top: 20px;
}
.footeraddress {
	font-weight: 300;
	font-size: 15px;
	color: #d2d2d2;
	line-height: 22px;
}
.footeraddress a {
	color: #d2d2d2;
}
.footeraddress a:hover {
	color: #D0585E;
}
.footerlinks {
}
.footerlinks ul {
	padding: 0;
	margin: 0;
}
.footerlinks li {
	width: 50%;
	display: inline-block;
	float: left;
	margin-bottom: 4px;
	color: #d1d1d1;
}
.footerlinks li a {
	color: #d1d1d1;
}
.footerlinks li a:hover {
	color: #D0585E;
}
#copyrightarea {
	padding: 25px 0;
	text-align: center;
	background: #131313;
}
#copyrightarea p {
	font-weight: 300;
	font-size: 15px;
	color: #d2d2d2;
	margin: 0;
}
#banner .container, #innerbanner .container {
	position: relative;
}
.quckcontact {
	width: 131px;
	height: 131px;
	border-radius: 50%;
	background: #ee1c25;
	position: fixed;
	z-index: 9999;
	right: 37px;
	top: 250px;
	font-weight: 700;
	color: #FFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 11px;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.quckcontact:hover, .quckcontact:focus {
	color: #FFF;
	background: #d50877;
}
.phoneicon {
	width: 35px;
	height: 39px;
	background: url(../img/phoneicon.png) center bottom no-repeat;
	margin: 25px auto 5px auto;
	background-size: contain;
}
/*----------innerpage----------*/

#innerbanner {
	width: 100%;
	height: 202px;
	background: url(../img/innerbanner.jpg) center top no-repeat;
	background-size: cover;
	display: inline-block;
	margin-top: -30px;
}
#innerbanner h6 {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	color: #FFF;
	padding: 70px 100px 20px 100px;
	line-height: 36px;
}
#innermain {
	padding: 40px 0px;
	text-align: center;
}
.aboutimg {
	width: 100%;
	background: url(../img/aboutimg.jpg) center top no-repeat;
	background-size: contain;
	margin-top: 25px;
	height: 397px;
}
.aboutbottom, .innerbottamarea {
	text-align: left;
	margin-top: 26px;
}
.aboutbottom h4, .innerbottamarea h4 {
	font-weight: 700;
	font-size: 21px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.aboutbottom ul, .innerbottamarea ul {
	margin: 0;
	padding: 0;
}
.aboutbottom li, .innerbottamarea li {
	list-style: none;
	font-weight: 700;
	font-size: 17px;
	color: #000;
	margin-bottom: 8px;
	background: url(../img/aboutpoint.png) left 10px no-repeat;
	padding-left: 15px;
}
.aboutbottom p, .innerbottamarea p {
	padding: 0 !important;
}
/*.innerbottamareaimg{}*/
/*.innerbottamarea .media{ width:70%; margin:50px auto 20px auto;}
.innerbottamarea .media-left{
  padding-right: 70px;
  max-width:350px;
}*/

.innerbottamarea>.row {
	width: 80%;
	margin: 0 auto;
}
.innerbottamarea ul {
	margin-top: 30px;
}
.abacus {
	width: 80% !important;
}
.abacus ul {
	margin: 0 !important;
	padding: 0;
}
.contact {
	text-align: left !important;
}
.contact .form {
	width: 100%;
	padding-top: 20px;
}
.contact .label {
	font-weight: 400;
	font-size: 15px;
	color: #000000;
	padding: 0px!important;
	margin-bottom: 5px;
}
.contact .form-control, .contact .form-control2 {
	border-radius: 0px;
	background: #FFF;
	margin-top: 4px;
	border: 1px solid #d1d1d1;
	padding: 10px;
	font-weight: 400;
	font-size: 15px;
	color: #5C5C5C;
}
.contact .form-control {
	width: 95%;
	height: 47px;
	margin-bottom: 18px;
}
.contact .form-control2 {
	width: 99.8%;
	height: 155px;
}
.contact .submit {
	height: 154px;
}
.contact .submit .btn {
	border-radius: 0 !important;
	background: #ee1c25;
	font-weight: 700;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	padding: 12px 50px;
	text-transform: uppercase;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.contact .submit .btn:hover {
	background: #d11019;
}
.contact .form-group {
	margin-bottom: 17px;
}
#addressarea {
	width: 100%;
	margin-top: 45px;
	border-top: 1px solid #d6d6d6;
	padding-top: 40px;
	font-family: 'Roboto Condensed', sans-serif;
	padding-bottom: 15px;
}
#addressarea h4 {
	font-size: 30px;
	font-weight: 300;
	color: #000000;
	margin-bottom: 15px !important;
}
#addressarea p {
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 0px;
	padding: 0;
}
#addressarea a {
	color: #000;
}
#addressarea a:hover {
	color: #bc0f0a;
}
#map {
	width: 100%;
	height: 250px;
}
/* Flexible iFrame */

.Flexible-container {
	position: relative;
	padding-bottom: 0;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	height: 250px;
}
.Flexible-container iframe, .Flexible-container object, .Flexible-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 250px;
}
.gallery {
}
.gallery ul {
	padding: 0;
	margin: 0;
}
.gallery li {
	list-style: outside none none;
	display: block;
	width: 18%;
	float: left;
	margin: 11px;
}
.service {
}
.servicebox {
	text-align: left;
	margin-top: 40px;
}
.serviceimage {
	width: 104px;
	height: 105px;
	margin: 0 auto 30px auto;
}
.servicebox h4 {
	font-weight: 700;
	font-size: 22px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.servicebox p {
	font-weight: 400;
	font-size: 15px;
	color: #000;
	line-height: 24px;
	padding: 0px !important;
}
.testimonialspage {
}

.testimonialspage .media-body>p,.teacherpage li p {
	padding: 0 !important;
}
.testimonialspage .testimonial-item {
	margin: 30px 0 30px 0;
}
.testimonial-item .media-left img{ border-radius:50%;}
.testimonial-item .testimonials-txt {
  background: url(../img/clmn2.png) left top no-repeat;
  padding-top: 4px;
  padding-left: 42px;
  margin:3px 0 0 0;
}
.testimonial-item .testimonialbottom{ text-align:right;}
.testimonial-item .testimonialbottom h6{ margin:0;}
.testimonial-item .testimonialbottom p{ padding:0 !important;} 
.teacherpage {}
.teacherpage ul{ margin:0 -20px; text-align:left;}
.teacherpage li{ width:25%; list-style:none; float:left; padding:20px;}
.teacherpage li .textbox p { color:#FFF !important;}

.innerimagebox{ width:266px; height:257px; margin:35px auto 10px auto;}
.innerpagelistarea{padding:0;}
.innerpagelistarea ul{}
.innerpagelistarea li{ width:50%; float:left; display:inline-block;}

/*----------innerpage-cls----------*/

@media(min-width:992px) {
.servicebox {
	padding: 0 30px;
}
}

@media screen and (max-width: 1200px) {
#banner h1 {
	font-size: 50px;
}
#banner .carousel-caption {
	bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-nav > li > a {
	padding: 20px 9px !important;
}
/*.quckcontact { right:-40px; width:100px; height:100px;}*/
.phoneicon {
	width: 20px;
	height: 24px;
}
.gallery li {
	margin: 9px;
}
}

@media screen and (max-width: 992px) {
#banner h1 {
	font-size: 45px;
}
#banner .carousel-caption {
	bottom: 30px;
	padding: 10px 0px;
}
#banner .carousel-caption p {
	font-size: 17px;
	line-height: 22px;
	padding: 0 10%;
	margin-top: 13px;
}
#innerbanner h6 {
	padding: 60px 20px 20px 20px;
}
.gallery li {
	width: 28%;
	margin: 15px 19px;
}
}

@media screen and (max-width: 768px) {
.navbar-toggle {
	border: 1px solid #FFF;
	margin-top: 10px;
	margin-right: 20px
}
.navbar-toggle .icon-bar {
	background: #FFF
}
.navbar-nav > li > a {
	padding: 12px 20px !important;
	margin: 0;
	border-bottom: solid 1px #ee323a;
	text-align: left !important
}
/*.navbar-nav > li > a:hover {
	background: #ee323a
}	*/

.navbar-collapse {
	position: absolute;
	width: 100%;
	background: #ee1c25;
}
#header ul.social {
	text-align: left;
	margin: 10px 0px;
}
.footeraddress {
	margin: 35px 0px;
}
#foootermain {
	padding: 40px 0px;
}
#homeservicearea .media-left {
	padding-right: 25px;
	width: 69px;
}
.bannermore {
	font-size: 15px;
	padding: 10px 30px;
	margin-top: 6px;
}
#banner .carousel-caption p {
	font-size: 15px;
	line-height: 20px;
	padding: 0 5%;
	margin-top: 10px;
}
#banner h1 {
	font-size: 35px;
}
#banner .carousel-caption {
	bottom: 20px;
}
.homeblogarea .media {
	margin-bottom: 30px;
}
#homecontentarea {
	padding: 50px 10px 40px 10px;
}
.homeblogarea .media-left {
	width: 32%;
	padding-right: 11px;
}
#innerbanner h6 {
	padding: 55px 30px 20px 30px;
	line-height: 32px;
	font-size: 20px;
}
.innerbottamarea img {
	margin-bottom: 25px;
}
#welcomearea p, #innermain p {
	padding: 0;
}
.abacus .media-left {
	margin-bottom: 25px;
}
#addressarea .social {
	margin-top: 20px;
}
.contact .form-control {
	width: 100%;
}
.quckcontact {
	width: 105px;
	height: 105px;
	top: 300px;
	right: 20px;
	font-size: 14px;
	line-height: 17px;
}
.phoneicon {
	width: 25px;
	height: 29px;
	margin: 18px auto 5px auto;
}
.gallery li {
	width: 29%;
	margin: 12px;
}
.gallery li img {
	width: 100%;
}
.servicebox {
	text-align: center;
}
}

@media screen and (max-width: 620px) {
.homecontentarea-link {
	width: 100%;
	text-align: center;
	margin-top: 25px;
	padding: 0 5px;
	top: 6px;
}
.homeblogarea .media-left {
	padding-right: 15px;
}
.homeblogarea .media-heading, .homeblogarea .media-body p {
	padding-right: 0;
}
#banner .carousel-caption p {
	display: none;
}
#banner h1 {
	font-size: 30px;
}
#banner .carousel-caption {
	bottom: 10px;
}
.innerbottamarea .media-left {
	float: left !important;
}
.gallery li {
	width: 45%;
	margin: 11px;
}
.innerpagelistarea li { width:100%;}
}

@media screen and (max-width: 480px) {
div#teams .owl-controls {
	display: none;
}
#banner h1 {
	font-size: 22px;
}
.bannermore {
	display: none;
}
.testimonials-txt {
	background-size: 12%;
	padding-top: 5px;
	padding-left: 45px;
	font-size: 14px;
	line-height: 22px;
	margin: 20px 0px;
}
#innerbanner h6 {
	font-size: 17px;
	line-height: 24px;
}
.gallery li {
	margin: 8px;
}

}

@media screen and (max-width: 380px) {
#homecontentarea {
	padding: 40px 10px;
}
.homecontentarea-heading h3 {
	padding: 0 6px;
	font-size: 21px;
	margin-top: 5px;
}
.homeblogarea .media-heading {
	line-height: 20px;
	font-size: 15px;
	margin-bottom: 5px;
}
.homeblogarea .date {
	margin: 0;
	font-size: 15px;
}
/*.testimonials-txt {
  background-size: 12%;
  padding-top: 5px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 22px;
  margin: 20px 0px;
}*/
#testimonials #nav-controls {
	bottom: -26px;
}
#testimonials {
	margin-bottom: 65px;
}
.homeblogarea .media-body p {
	font-size: 14px;
	line-height: 22px;
}
.homeblogarea .media {
	margin-bottom: 20px;
}
#homeservicearea .media {
	padding-left: 0px;
	margin-bottom: 20px;
}
#homeservicearea .media-heading {
	font-size: 20px;
	line-height: 22px;
}
#homeservicearea .media-body p {
	font-size: 14px;
	line-height: 22px;
}
#homeservicearea {
	padding-top: 40px;
}
#homeservicearea .media-left {
	padding-right: 10px;
	width: 70px;
}
#welcomearea, #homecontentarea {
	padding: 40px 0px 20px 0px;
}
#welcomearea h3 {
	font-size: 23px;
	margin-bottom: 15px;
}
#welcomearea p, #innermain p, .servicebox p {
	font-size: 15px;
	line-height: 23px;
}
.servicebox h4 {
	font-size: 19px;
}
#teammain {
	padding-bottom: 60px;
}
#banner .carousel-caption {
	display: none;
}
.aboutimg {
	height: 260px;
}
#welcomearea h3, #innermain h3 {
	margin-bottom: 15px;
}
.quckcontact {
	width: 100%;
	top: auto;
	bottom: 0;
	border-radius: 0;
	right: 0px;
	padding: 15px 0px;
	height: auto;
}
.phoneicon {
	display: none;
}
.quckcontact:hover, .quckcontact:focus {
	color: #FFF;
}
.gallery li {
	width: 100%;
	margin: 10px 0;
}
#header ul.social {
	font-size: 13px;
}
.loginarea a {
	margin: 0 1px;
}
.loginarea {
	margin-right: 5px;
}
}



.navbar-nav {
	margin: 0;
}
